
/* * {

    box-sizing:border-box;
    margin:0;
    padding:0;
  
  }
  
  html {
  
    height:100%;
    width:100%;
  
  }
  
  body {
  
    align-content:space-around;
    background-color:#202830;
    color:#ffffff;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto;
    justify-items:center;
    min-height:100%;
    width:100%;
  
  }
  
  /* canvas {
  
    background-color:#ffffff;
  
  }  */ */

  body {
  
    align-content:space-around;
    background-color:#202830;
    color:#ffffff;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows:auto auto;
    justify-items:center;
    min-height:100%;
    width:100%;
  
  }

  canvas {
    border: 5px solid red;
    background-color:#ffffff;
}

div {
    margin: 20px;
    padding: 10px 20px;
    border: 5px solid grey;
}